body{
  background-color: #e7e7e7;
}

.joblist{
  margin-top: 20px;
}
.ant-col .ant-card{
  margin: 10px;
  .ant-card-head-title{
    white-space: break-spaces;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      display: flex;
      font-weight: normal;
      font-size: 10px;
      text-transform: uppercase;
      color: rgb(117, 117, 117);
      flex-wrap: wrap;
      li{
        margin-right: 12px;
        position: relative;
        white-space: nowrap;
        .loc-pin{
          width: 17px;
          float: left;
          position: relative;
          opacity: 0.65;
          &>*{
            position: absolute;
            top: 0px;
          }
        }
        &:not(:first-child){
          &:after{
            content: " ";
            position: absolute;
            width: 1px;
            height: 10px;
            background-color: rgb(214, 214, 214);
            left: -7px;
            top: 2px;
          }
        }
      }
    }
  }
  .h-constrainer{
    padding-top: 2px;
    &:not(.open){
      max-height: 440px;
      position: relative;
      overflow: hidden;
      &:after{
        content: " ";
        position: absolute;
        width: 100%;
        height: 100px;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        bottom: 0;
        left: 0;
      }
    }
  }
  .readmore-btn{
    text-align: center;
    color: #1990FF;
    transform: translateY(6px);
    cursor: pointer;
  }
}
.job-body{
  h4{
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .ant-btn.ant-btn-primary{
    width: 100%;
    margin-bottom: 10px;
  }
  .contact{
    text-align: center;
    line-height: 16px;
    margin-bottom: 10px;
    h5{
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 400;
    }
    .ant-btn{
      margin-top: 0;
    }
  }
  .ant-card-meta-detail{
    display: inline;
  }
  .ant-divider{
    margin-top: 10px;
  }
}

.job-modal{
  .ant-modal-title{
    white-space: break-spaces;
    font-size: 20px;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      display: flex;
      font-weight: normal;
      font-size: 10px;
      text-transform: uppercase;
      color: rgb(117, 117, 117);
      flex-wrap: wrap;
      li{
        margin-right: 12px;
        position: relative;
        white-space: nowrap;
        .loc-pin{
          width: 17px;
          float: left;
          position: relative;
          opacity: 0.65;
          &>*{
            position: absolute;
            top: 0px;
          }
        }
        &:not(:first-child){
          &:after{
            content: " ";
            position: absolute;
            width: 1px;
            height: 10px;
            background-color: rgb(214, 214, 214);
            left: -7px;
            top: 2px;
          }
        }
      }
    }
  }
  .primary-btn-holder{
    display: flex;
    justify-content: center;
    
    .ant-btn{
      width: auto;
      padding: 0 100px;
    }
  }
}

.ant-layout-content{
  padding: 0 50px;
  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}